{% set labeled = options.labeled is defined ? options.labeled : true %}

{% if sm_can(data, options.transition, options.graph) %}
    <form action="{{ path(options.link.route, options.link.parameters) }}" method="post" style="display:inline">
        <input type="hidden" name="_method" value="PUT">
        <button class="ui mini loadable {{ options.class }} {% if labeled %}labeled {% endif %} icon button" type="submit" {% if not labeled %}data-tooltip="{{ action.label|trans }}" data-inverted{% endif %}>
            <i class="{{ action.icon }} icon"></i>
            {% if labeled %}
                {{ action.label|trans }}
            {% endif %}
        </button>
    </form>
{% endif %}
    